In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mueang-chiang-mai weather.csv")

In [3]:
df.head()

,year,month,day,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Precip Accum,Condition
0,2016,3,3,12:00 AM,75,57,53,CALM,0,0,28.9,0.0,0.0,Fair
1,2016,3,3,12:30 AM,73,57,57,N,2,0,28.9,0.0,0.0,Fair
2,2016,3,3,1:00 AM,73,57,57,CALM,0,0,28.9,0.0,0.0,Fair
3,2016,3,3,1:30 AM,73,57,57,CALM,0,0,28.9,0.0,0.0,Fair
4,2016,3,3,2:00 AM,72,57,60,NW,3,0,28.9,0.0,0.0,Fair

In [4]:
df = df.drop(['year', 'Time', 'day', 'Wind Gust', 'Precip.', 'Precip Accum'], axis=1)

In [5]:
Wind = df.pop('Wind')

In [6]:
month = df.pop('month')

In [7]:
y = df.pop('Condition')

In [8]:
df

       Temperature  Dew Point  Humidity  Wind Speed  Pressure
0               75         57        53           0      28.9
1               73         57        57           2      28.9
2               73         57        57           0      28.9
3               73         57        57           0      28.9
4               72         57        60           3      28.9
...            ...        ...       ...         ...       ...
52091           91         54        28           6      28.7
52092           90         54        29           3      28.8
52093           88         55        33           6      28.8
52094           88         54        31           6      28.8
52095           88         55        33           7      28.8

[52096 rows x 5 columns]

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler()

In [11]:
df.loc[:,:] = scaler.fit_transform(df)

In [12]:
df

       Temperature  Dew Point  Humidity  Wind Speed  Pressure
0         0.436047   0.337278      0.53        0.00  0.932258
1         0.424419   0.337278      0.57        0.02  0.932258
2         0.424419   0.337278      0.57        0.00  0.932258
3         0.424419   0.337278      0.57        0.00  0.932258
4         0.418605   0.337278      0.60        0.03  0.932258
...            ...        ...       ...         ...       ...
52091     0.529070   0.319527      0.28        0.06  0.925806
52092     0.523256   0.319527      0.29        0.03  0.929032
52093     0.511628   0.325444      0.33        0.06  0.929032
52094     0.511628   0.319527      0.31        0.06  0.929032
52095     0.511628   0.325444      0.33        0.07  0.929032

[52096 rows x 5 columns]

In [13]:
month = pd.get_dummies(month,prefix='month')

In [14]:
month.head()

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0

In [15]:
Wind = Wind.fillna(method = 'ffill')

In [16]:
Wind = pd.get_dummies(Wind, prefix='wind')

In [17]:
Wind

,wind_CALM,wind_E,wind_ENE,wind_ESE,wind_N,wind_NE,wind_NNE,wind_NNW,wind_NW,wind_S,wind_SE,wind_SSE,wind_SSW,wind_SW,wind_VAR,wind_W,wind_WNW,wind_WSW
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52091,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
52092,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
52093,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
52094,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
52095,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [18]:
X = pd.concat([df, month, Wind], axis=1)

In [19]:
X.head()

,Temperature,Dew Point,Humidity,Wind Speed,Pressure,month_1,month_2,month_3,month_4,month_5,...,wind_NW,wind_S,wind_SE,wind_SSE,wind_SSW,wind_SW,wind_VAR,wind_W,wind_WNW,wind_WSW
0,0.436047,0.337278,0.53,0.00,0.932258,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.424419,0.337278,0.57,0.02,0.932258,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.424419,0.337278,0.57,0.00,0.932258,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.424419,0.337278,0.57,0.00,0.932258,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.418605,0.337278,0.60,0.03,0.932258,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [20]:
L = list(y.str.split('/'))
K = []
for i in L:
    K.extend(i)

In [21]:
Condition = list(set(K))

In [22]:
Y = pd.DataFrame()
for c in Condition:
    Y[c] = y.str.contains(c)*1

In [23]:
Y.head()

,Fog,Fair,Rain,Haze,Light Drizzle,Mostly Cloudy,Mostly Cloudy,Partly Cloudy,Patches of Fog,Rain,...,Haze,Mist,Rain Shower,Thunder in the Vicinity,Windy,Fair,Light Rain,Heavy T-Storm,Showers in the Vicinity,T-Storm
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
def gen_index(start, stop, step, n_frames):
    X = []
    Y = []
    for i in range(start, stop+step, step):
        sample = [ i+j*step for j in range(n_frames) ]
        X.append(sample)
        Y.append(i+n_frames*step)
        
    return X, Y

In [25]:
index_x, index_y = gen_index(1,52096-6,1,5)

In [26]:
index_x[-1]

[52090, 52091, 52092, 52093, 52094]

In [27]:
index_y[-1]

52095

In [28]:
X.columns

Index(['Temperature', 'Dew Point', 'Humidity', 'Wind Speed', 'Pressure',
       'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6',
       'month_7', 'month_8', 'month_9', 'month_10', 'month_11', 'month_12',
       'wind_CALM', 'wind_E', 'wind_ENE', 'wind_ESE', 'wind_N', 'wind_NE',
       'wind_NNE', 'wind_NNW', 'wind_NW', 'wind_S', 'wind_SE', 'wind_SSE',
       'wind_SSW', 'wind_SW', 'wind_VAR', 'wind_W', 'wind_WNW', 'wind_WSW'],
      dtype='object')

In [29]:
L = []
for c in X.columns:
    l = []
    for i in index_x:
        a = X[c].iloc[i].values
        l.append(a)
    L.append(np.array(l))

In [30]:
np.array(L).shape

(35, 52090, 5)

In [31]:
r = np.hstack(L)

In [32]:
r.shape

(52090, 175)

In [33]:
X = r.reshape(52090, 35, 5).transpose(0, 2, 1)

In [34]:
X.shape

(52090, 5, 35)

In [35]:
X = X.astype(np.int32)

In [36]:
Y = Y.iloc[index_y]
Y = Y.values.astype(np.int32)

In [37]:
Y.shape

(52090, 31)

In [38]:
from tensorflow.keras.layers import Dense, SimpleRNN, Dropout, LSTM
from tensorflow.keras import Sequential
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [40]:
n_frames = 5
n_features = 35

In [41]:
model = Sequential()
model.add(LSTM(128, input_shape=(n_frames, n_features), return_sequences=False))
model.add(Dense(64, activation='relu') )
model.add(Dense(64, activation='relu') )
model.add(Dense(31) ) # output
model.compile(loss='mse', optimizer='adam',
             metrics=['accuracy'],
             )

In [42]:
model.fit(X_train, Y_train,
          validation_data=(X_test,Y_test),
          batch_size=32,
          verbose=2, epochs=50)

Train on 36463 samples, validate on 15627 samples
Epoch 1/50
36463/36463 - 20s - loss: 0.0194 - accuracy: 0.5907 - val_loss: 0.0188 - val_accuracy: 0.5991
Epoch 2/50
36463/36463 - 15s - loss: 0.0189 - accuracy: 0.6008 - val_loss: 0.0187 - val_accuracy: 0.6022
Epoch 3/50
36463/36463 - 15s - loss: 0.0188 - accuracy: 0.6012 - val_loss: 0.0186 - val_accuracy: 0.6029
Epoch 4/50
36463/36463 - 14s - loss: 0.0187 - accuracy: 0.6044 - val_loss: 0.0185 - val_accuracy: 0.6038
Epoch 5/50
36463/36463 - 15s - loss: 0.0186 - accuracy: 0.6067 - val_loss: 0.0188 - val_accuracy: 0.6059
Epoch 6/50
36463/36463 - 14s - loss: 0.0185 - accuracy: 0.6095 - val_loss: 0.0186 - val_accuracy: 0.6072
Epoch 7/50
36463/36463 - 16s - loss: 0.0184 - accuracy: 0.6113 - val_loss: 0.0184 - val_accuracy: 0.6109
Epoch 8/50
36463/36463 - 15s - loss: 0.0183 - accuracy: 0.6126 - val_loss: 0.0184 - val_accuracy: 0.6130
Epoch 9/50
36463/36463 - 15s - loss: 0.0182 - accuracy: 0.6163 - val_loss: 0.0185 - val_accuracy: 0.6103
Epoch 10/50
36463/36463 - 15s - loss: 0.0181 - accuracy: 0.6199 - val_loss: 0.0185 - val_accuracy: 0.6075
Epoch 11/50
36463/36463 - 15s - loss: 0.0180 - accuracy: 0.6220 - val_loss: 0.0184 - val_accuracy: 0.6112
Epoch 12/50
36463/36463 - 15s - loss: 0.0179 - accuracy: 0.6255 - val_loss: 0.0185 - val_accuracy: 0.6134
Epoch 13/50
36463/36463 - 15s - loss: 0.0177 - accuracy: 0.6273 - val_loss: 0.0184 - val_accuracy: 0.6106
Epoch 14/50
36463/36463 - 14s - loss: 0.0176 - accuracy: 0.6325 - val_loss: 0.0185 - val_accuracy: 0.6136
Epoch 15/50
36463/36463 - 15s - loss: 0.0174 - accuracy: 0.6387 - val_loss: 0.0185 - val_accuracy: 0.6112
Epoch 16/50
36463/36463 - 15s - loss: 0.0172 - accuracy: 0.6464 - val_loss: 0.0184 - val_accuracy: 0.6123
Epoch 17/50
36463/36463 - 15s - loss: 0.0170 - accuracy: 0.6507 - val_loss: 0.0186 - val_accuracy: 0.6076
Epoch 18/50
36463/36463 - 14s - loss: 0.0168 - accuracy: 0.6571 - val_loss: 0.0186 - val_accuracy: 0.6096
Epoch 19/50
36463/36463 - 16s - loss: 0.0166 - accuracy: 0.6609 - val_loss: 0.0186 - val_accuracy: 0.6144
Epoch 20/50
36463/36463 - 15s - loss: 0.0163 - accuracy: 0.6685 - val_loss: 0.0187 - val_accuracy: 0.6094
Epoch 21/50
36463/36463 - 15s - loss: 0.0161 - accuracy: 0.6741 - val_loss: 0.0187 - val_accuracy: 0.6130
Epoch 22/50
36463/36463 - 14s - loss: 0.0158 - accuracy: 0.6841 - val_loss: 0.0188 - val_accuracy: 0.6090
Epoch 23/50
36463/36463 - 15s - loss: 0.0155 - accuracy: 0.6887 - val_loss: 0.0189 - val_accuracy: 0.6152
Epoch 24/50
36463/36463 - 15s - loss: 0.0152 - accuracy: 0.6961 - val_loss: 0.0193 - val_accuracy: 0.6084
Epoch 25/50
36463/36463 - 15s - loss: 0.0150 - accuracy: 0.7028 - val_loss: 0.0192 - val_accuracy: 0.6114
Epoch 26/50
36463/36463 - 15s - loss: 0.0147 - accuracy: 0.7111 - val_loss: 0.0195 - val_accuracy: 0.6050
Epoch 27/50
36463/36463 - 15s - loss: 0.0145 - accuracy: 0.7158 - val_loss: 0.0194 - val_accuracy: 0.6086
Epoch 28/50
36463/36463 - 15s - loss: 0.0142 - accuracy: 0.7245 - val_loss: 0.0196 - val_accuracy: 0.6085
Epoch 29/50
36463/36463 - 14s - loss: 0.0140 - accuracy: 0.7286 - val_loss: 0.0198 - val_accuracy: 0.6050
Epoch 30/50
36463/36463 - 15s - loss: 0.0137 - accuracy: 0.7354 - val_loss: 0.0198 - val_accuracy: 0.6025
Epoch 31/50
36463/36463 - 16s - loss: 0.0135 - accuracy: 0.7420 - val_loss: 0.0200 - val_accuracy: 0.6054
Epoch 32/50
36463/36463 - 15s - loss: 0.0132 - accuracy: 0.7478 - val_loss: 0.0202 - val_accuracy: 0.6028
Epoch 33/50
36463/36463 - 17s - loss: 0.0130 - accuracy: 0.7530 - val_loss: 0.0200 - val_accuracy: 0.6065
Epoch 34/50
36463/36463 - 19s - loss: 0.0127 - accuracy: 0.7606 - val_loss: 0.0201 - val_accuracy: 0.6017
Epoch 35/50
36463/36463 - 20s - loss: 0.0125 - accuracy: 0.7646 - val_loss: 0.0202 - val_accuracy: 0.6066
Epoch 36/50
36463/36463 - 18s - loss: 0.0123 - accuracy: 0.7701 - val_loss: 0.0201 - val_accuracy: 0.6091
Epoch 37/50
36463/36463 - 23s - loss: 0.0121 - accuracy: 0.7748 - val_loss: 0.0205 - val_accuracy: 0.6076
Epoch 38/50
36463/36463 - 21s - loss: 0.0119 - accuracy: 0.7807 - val_loss: 0.0207 - val_accuracy: 0.6022
Epoch 39/50
36463/36463 - 18s - loss: 0.0117 - accuracy: 0.7841 - val_loss: 0.0207 - val_accuracy: 0.5991
Epoch 40/50
36463/36463 - 22s - loss: 0.0115 - accuracy: 0.7901 - val_loss: 0.0210 - val_accuracy: 0.5946
Epoch 41/50
36463/36463 - 19s - loss: 0.0114 - accuracy: 0.7922 - val_loss: 0.0212 - val_accuracy: 0.6009
Epoch 42/50
36463/36463 - 19s - loss: 0.0111 - accuracy: 0.7982 - val_loss: 0.0209 - val_accuracy: 0.6033
Epoch 43/50
36463/36463 - 18s - loss: 0.0110 - accuracy: 0.8036 - val_loss: 0.0214 - val_accuracy: 0.5926
Epoch 44/50
36463/36463 - 18s - loss: 0.0108 - accuracy: 0.8048 - val_loss: 0.0214 - val_accuracy: 0.5996
Epoch 45/50
36463/36463 - 17s - loss: 0.0107 - accuracy: 0.8056 - val_loss: 0.0212 - val_accuracy: 0.5970
Epoch 46/50
36463/36463 - 17s - loss: 0.0105 - accuracy: 0.8121 - val_loss: 0.0214 - val_accuracy: 0.6004
Epoch 47/50
36463/36463 - 19s - loss: 0.0103 - accuracy: 0.8144 - val_loss: 0.0216 - val_accuracy: 0.5926
Epoch 48/50
36463/36463 - 19s - loss: 0.0102 - accuracy: 0.8180 - val_loss: 0.0215 - val_accuracy: 0.5956
Epoch 49/50
36463/36463 - 17s - loss: 0.0102 - accuracy: 0.8189 - val_loss: 0.0218 - val_accuracy: 0.5948
Epoch 50/50
36463/36463 - 15s - loss: 0.0100 - accuracy: 0.8245 - val_loss: 0.0216 - val_accuracy: 0.5949