In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mueang-chiang-mai weather.csv")

In [3]:
df.head()

,year,month,day,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Precip Accum,Condition
0,2016,3,3,12:00 AM,75,57,53,CALM,0,0,28.9,0.0,0.0,Fair
1,2016,3,3,12:30 AM,73,57,57,N,2,0,28.9,0.0,0.0,Fair
2,2016,3,3,1:00 AM,73,57,57,CALM,0,0,28.9,0.0,0.0,Fair
3,2016,3,3,1:30 AM,73,57,57,CALM,0,0,28.9,0.0,0.0,Fair
4,2016,3,3,2:00 AM,72,57,60,NW,3,0,28.9,0.0,0.0,Fair

In [13]:
df[df['year'] == 2017]

,year,month,day,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Precip Accum,Condition
14123,2017,1,1,12:00 AM,72,59,64,CALM,0,0,29.0,0.0,0.0,Mostly Cloudy
14124,2017,1,1,12:30 AM,72,61,69,CALM,0,0,29.0,0.0,0.0,Mostly Cloudy
14125,2017,1,1,1:00 AM,72,63,73,SSE,2,0,29.0,0.0,0.0,Mostly Cloudy
14126,2017,1,1,1:30 AM,72,63,73,CALM,0,0,29.0,0.0,0.0,Mostly Cloudy
14127,2017,1,1,2:00 AM,72,61,69,WSW,2,0,29.0,0.0,0.0,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30611,2017,12,31,9:30 PM,75,66,73,SSW,5,0,28.9,0.0,0.0,Partly Cloudy
30612,2017,12,31,10:00 PM,75,68,78,WSW,3,0,28.9,0.0,0.0,Partly Cloudy
30613,2017,12,31,10:30 PM,73,68,83,SSW,6,0,28.9,0.0,0.0,Partly Cloudy
30614,2017,12,31,11:00 PM,73,66,78,SW,5,0,28.9,0.0,0.0,Partly Cloudy
30615,2017,12,31,11:30 PM,73,66,78,SSW,5,0,28.9,0.0,0.0,Partly Cloudy

In [29]:
t = df['Time'].str.split(':').apply(lambda x: x[1])
df['Time'][~t.str.contains('00|30')]

13205    12:06 PM
13526     7:32 AM
13527     7:38 AM
22689     4:20 AM
23198     7:40 PM
23246     7:17 PM
25133     7:03 AM
34965     9:03 PM
38818     7:12 AM
Name: Time, dtype: object

In [41]:
time = df[['year','month','day','Time']].apply(lambda t: f'{t[0]}-{t[1]}-{t[2]} {t[3]}',axis=1)

In [42]:
time.asfreq(freq='30m')

Series([], Freq: 30M, dtype: object)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          52096 non-null  int64
 1   month         52096 non-null  int64
 2   day           52096 non-null  int64
 3   Time          52096 non-null  object
 4   Temperature   52096 non-null  int64
 5   Dew Point     52096 non-null  int64
 6   Humidity      52096 non-null  int64
 7   Wind          52021 non-null  object
 8   Wind Speed    52096 non-null  int64
 9   Wind Gust     52096 non-null  int64
 10  Pressure      52096 non-null  float64
 11  Precip.       52096 non-null  float64
 12  Precip Accum  52096 non-null  float64
 13  Condition     52096 non-null  object
dtypes: float64(3), int64(8), object(3)
memory usage: 5.6+ MB

In [5]:
df.loc[:,'year':'Time']

       year  month  day      Time
0      2016      3    3  12:00 AM
1      2016      3    3  12:30 AM
2      2016      3    3   1:00 AM
3      2016      3    3   1:30 AM
4      2016      3    3   2:00 AM
...     ...    ...  ...       ...
52091  2019      4   15   9:30 PM
52092  2019      4   15  10:00 PM
52093  2019      4   15  10:30 PM
52094  2019      4   15  11:00 PM
52095  2019      4   15  11:30 PM

[52096 rows x 4 columns]

In [6]:
df.loc[:,'Temperature']

0        75
1        73
2        73
3        73
4        72
         ..
52091    91
52092    90
52093    88
52094    88
52095    88
Name: Temperature, Length: 52096, dtype: int64

In [38]:
24311+12832+11289

48432

In [7]:
df.loc[:,'Condition'].value_counts()

Fair                       24311
Mostly Cloudy              12832
Partly Cloudy              11289
Light Rain                  1868
Haze                         654
Rain                         201
Thunder                      179
Light Rain with Thunder      161
Fog                          138
Smoke                        108
Showers in the Vicinity       74
T-Storm                       62
Drizzle                       34
Light Drizzle                 33
Heavy Rain                    30
Mostly Cloudy / Windy         30
Heavy T-Storm                 21
Mist                          19
Partly Cloudy / Windy         16
T-Storm / Windy                7
Thunder / Windy                6
Fair / Windy                   6
Light Rain / Windy             4
Partial Fog                    3
Haze / Windy                   3
Rain Shower                    2
Thunder in the Vicinity        2
Patches of Fog                 1
Heavy Rain / Windy             1
Rain / Windy                   1
Name: Condition, dtype: int64

In [8]:
a = df.loc[:,'Condition'].str.contains('Fair')
b = df.loc[:,'Condition'].str.contains('Mostly Cloudy')

In [9]:
y = pd.DataFrame()

In [10]:
y['Fiar'] = a*1
y['Mostly Cloud'] = b*1

In [11]:
K = []
L = list(df.loc[:,'Condition'].str.split('/'))
for i in L:
    K.extend(i)

In [12]:
Condition = list(set(K))

In [13]:
len(Condition)

31

In [37]:
Condition

['Heavy Rain ',
 ' Windy',
 'Mostly Cloudy ',
 'Partly Cloudy',
 'Drizzle',
 'Fair ',
 'Thunder',
 'Partial Fog',
 'Light Rain ',
 'Heavy Rain',
 'Fog',
 'Haze',
 'Rain',
 'Mostly Cloudy',
 'Rain ',
 'Light Drizzle',
 'T-Storm ',
 'Thunder in the Vicinity',
 'Smoke',
 'Light Rain with Thunder',
 'Fair',
 'Patches of Fog',
 'Rain Shower',
 'Showers in the Vicinity',
 'Mist',
 'Haze ',
 'Partly Cloudy ',
 'Heavy T-Storm',
 'Thunder ',
 'Light Rain',
 'T-Storm']

In [14]:
X = pd.DataFrame()
for c in Condition:
    X[c] = df.loc[:,'Condition'].str.contains(c)*1

In [15]:
X

,Heavy Rain,Windy,Mostly Cloudy,Partly Cloudy,Drizzle,Fair,Thunder,Partial Fog,Light Rain,Heavy Rain,...,Patches of Fog,Rain Shower,Showers in the Vicinity,Mist,Haze,Partly Cloudy,Heavy T-Storm,Thunder,Light Rain,T-Storm
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df.loc[:,'Wind'].value_counts()

CALM    13621
VAR      4940
S        4722
SSW      3548
SW       3172
N        3161
WSW      2816
SSE      2523
W        2500
NNE      2170
SE       1705
NE       1439
E        1148
NNW      1116
WNW       979
ESE       938
NW        792
ENE       731
Name: Wind, dtype: int64

In [17]:
df = df.drop(['Precip.','Precip Accum','Wind Gust'],axis=1)

In [18]:
df.loc[:,'Temperature':'Pressure']

       Temperature  Dew Point  Humidity  Wind  Wind Speed  Pressure
0               75         57        53  CALM           0      28.9
1               73         57        57     N           2      28.9
2               73         57        57  CALM           0      28.9
3               73         57        57  CALM           0      28.9
4               72         57        60    NW           3      28.9
...            ...        ...       ...   ...         ...       ...
52091           91         54        28     S           6      28.7
52092           90         54        29    NW           3      28.8
52093           88         55        33   WSW           6      28.8
52094           88         54        31    SW           6      28.8
52095           88         55        33   WSW           7      28.8

[52096 rows x 6 columns]

In [19]:
wind = df.pop('Wind')

In [20]:
pd.get_dummies(wind)

,CALM,E,ENE,ESE,N,NE,NNE,NNW,NW,S,SE,SSE,SSW,SW,VAR,W,WNW,WSW
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52091,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
52092,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
52093,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
52094,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
52095,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [21]:
a = pd.DataFrame(wind)

In [22]:
a = a.fillna('CALM')

In [23]:
a1 = df.loc[:, 'Temperature':'Pressure']
a2 = pd.get_dummies(wind)

In [24]:
X = pd.concat([a1, a2], axis=1)
X

,Temperature,Dew Point,Humidity,Wind Speed,Pressure,CALM,E,ENE,ESE,N,...,NW,S,SE,SSE,SSW,SW,VAR,W,WNW,WSW
0,75,57,53,0,28.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,73,57,57,2,28.9,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,73,57,57,0,28.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,73,57,57,0,28.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,72,57,60,3,28.9,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52091,91,54,28,6,28.7,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
52092,90,54,29,3,28.8,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
52093,88,55,33,6,28.8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
52094,88,54,31,6,28.8,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
52095,88,55,33,7,28.8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [26]:
x_temp = X.loc[:,'Temperature'].values.reshape(13024,4)

In [27]:
x_temp.shape

(13024, 4)

In [28]:
import numpy as np

In [29]:
def gen_data(start, stop, step, n_frames):
    X = []
    Y = []
    for i in range(start, stop+step, step):
        sample = [ i+j*step for j in range(n_frames) ]
        X.append(sample)
        Y.append(i+n_frames*step)
    
    #X = np.array(X)
    #X = X.reshape((*X.shape,1))
    #Y = np.array(Y)
        
    return X, Y

In [30]:
index_x,index_y = gen_data(1,52096-5,1,5)

In [31]:
index_x[-1]

[52091, 52092, 52093, 52094, 52095]

In [32]:
np.array(index_x).shape

(52091, 5)

In [33]:
A = []
for i in range(len(index_x)):
    a = df['Temperature'].iloc[index_x[i]].values
    A.append(a)

In [34]:
np.array(A)

array([[73, 73, 73, 72, 72],
       [73, 73, 72, 72, 72],
       [73, 72, 72, 72, 70],
       ...,
       [93, 93, 91, 90, 88],
       [93, 91, 90, 88, 88],
       [91, 90, 88, 88, 88]], dtype=int64)

In [36]:
X.columns

Index(['Temperature', 'Dew Point', 'Humidity', 'Wind Speed', 'Pressure',
       'CALM', 'E', 'ENE', 'ESE', 'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE',
       'SSE', 'SSW', 'SW', 'VAR', 'W', 'WNW', 'WSW'],
      dtype='object')